*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: hsla(0, 9%, 91%, 0.532);
}
/*----------------------
 # Navbar 
 -----------------------*/
 .animate-charcter{
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #f5f2f7 0%, #b6b2b6 29%, rgb(236, 234, 239) 67%, rgb(194, 170, 241) 100%);
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 5s linear infinite;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(0,0,0,.3));
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 200%;
    }
}
.bg-secondary{
    background-color: #009edb!important;
}
.navbar-brand{
    line-height: 20px;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    padding: 8px 9px !important;
    transition: all .5s ease;
    font-size: 15px;
    font-weight: 600;

}
.navbar ul li a:hover{
    background-color: rgb(239, 239, 239);
    color: #009edb;
    font-weight: bold;
    box-shadow: 0 0 12px hsl(0, 2%, 92%);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navbar .navbar-collapse{
    columns: white !important;
}

/*--------------------------------
 # heading
---------------------------------*/
.heading {
    color: #009edb;
    font-size: 5rem;
    text-align: center;
    margin: 50px 0px !important;
    font-weight: bold !important;
    text-shadow: 3px 3px 5px #a6a6a6;
    letter-spacing: 2px;
}
/*------------------------------
 # home Section 
 -------------------------------*/
#banner{
    background: url(pic2.jpg) fixed;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .main{
    position: absolute;
    top: 25%;
    left: 5%;
}
#banner .main .word{
    font-size: 3.3rem;
    color: rgb(188, 192, 191);
    font-family: arial;
    font-weight: 500;
    text-shadow: 0 7px 4px rgb(0, 0, 0);
    letter-spacing: 2px;
}
#banner .main .word1{
    font-size: 2.5rem;
    color: rgb(188, 192, 191);
    font-family: arial;
    font-weight: 500;
    text-shadow: 0 7px 4px  rgb(0, 0, 0);
    width: 0ch;
	overflow:hidden;	
	white-space:nowrap;
	animation:text 5s steps(16) infinite alternate; 
}
@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 20ch;
    }
}
#banner .main .btn{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: arial;
    border: 1px solid  rgb(211, 214, 213);;
    width: 25%;
}
#banner .main .btn:hover{
    font-size: 1.5rem;
    padding: 5px;
    font-family: arial;
    font-weight: bold;
    background:  rgb(176, 176, 176);;
    box-shadow: 0 0 7px rgb(211, 214, 213);;
    border-radius: 25px;
}
#banner .main .btn a:hover{
    color: rgb(81, 81, 81) !important;
}

 

/*-------------------------------
  # About Section 
--------------------------------*/
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}
#pic{
    display: flex;
}
#about #pic img{
    width: 397px !important; 
    height: 298px;
    border: 1px solid #cccccc;
    border-radius: 7px;
    box-shadow: 0 0 9px #cccccc;
    
}
#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    box-shadow: 0px 0px 10px #cccccc;
    border: 1px solid #ccc;
    border-radius: 6px;
}
#intro h2 {
    font-size: 2.2rem;
    margin-bottom: 20px; 
    font-weight: bold;
    font-family: system-ui;
    color:#009edb !important;
}
#intro p {
    font-size: 1.2rem;
    margin: 5px;
    color: #565856;
    font-family: math;
}

/*-----------------------------------
 # Education Section 
 -----------------------------------*/
 #Education{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 15px;
}
#Education .head{
    font-size: 2rem;
    /* margin-top: 20px; */
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-align: center;
}
.box{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 380px;
    box-shadow: 0 0 8px 2px #aaaaab;
    color: #484949;
    text-align: justify;
    margin: 8px;
    padding: 8px;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(to top, #dedede 50%, rgb(248, 247, 247) 50%);
    background-size: 100% 200%;
    transition:  0.5s ;
}
.box:hover{
    transform: scale(1.05);
    background-position: left bottom;    
    color:  rgba(6, 157, 188, 0.909);
    box-shadow: 0 0 8px 2px #aaaaab;

}
.box i{
    font-size: 1.9rem;
    color: #484949;
    padding: 8px;
    background-color: white;
    border-radius: 100%;
}
.box li{
    line-height: 1.8rem;
    font-weight: bold;
    font-size: 15px;
}

/*------------------------------------
 # Skill Section
 -------------------------------------*/
 #Skill ul {
    background-color: #f0f0f0;
    color: #009edb;
    box-shadow: 0px 1px 10px 1px #adadad;
    border-radius: 6px;
    border: 1px solid #ccc;
    color: #009edb!important;
}
#Skill .progress {
    box-shadow: 1px 3px 3px 2px #ccc;
    height: 10px;
}
.progress .progress-bar {
    background: linear-gradient(90deg, rgba(0,91,234,1) 0%, rgba(0,198,251,1) 100%);
    float: left;
    transition: 3s;
}
#Skill label{
    position: relative;
    top: 25px;
}
 #star{
    box-shadow: 0px 1px 10px 1px #adadad;
}

/*------------------------------------
  # Hobbies Section
-------------------------------------*/
#hobby{
    height: 280px !important;
    width: 320px !important;
    border-radius: 100%;
    box-shadow: 0px 2px 7px 1px #adadad;
    filter: grayscale(0.8) brightness(0.9);
    opacity: .8;
    transition: .7s;
}
#hobby:hover{
    filter: grayscale(0) brightness(1);
    cursor: crosshair;
    transform: scale(1.07);
}
#hobi h1{
    text-transform: capitalize;
    font-size: 2rem;
    margin: 25px !important;
    font-family: arial;
    color: #037bab;
    font-weight: bold;
    text-shadow: 3px 3px 5px #a6a6a6;
    letter-spacing: 2px;
}

/*------------------------------------
 # booklist Section
-------------------------------------*/
#Lookbook{
    display: flex;
    flex-direction: column;
    background-color: rgba(238, 237, 237, 0.9);
    color: #fff;
    align-items: center;
    padding: 15px;
    box-shadow: 0px 0px 6px 2px #989da3;
}
.gallary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallary img{
    width: 380px;
    height: 300px;
    margin: 10px;
    border-radius: 8px;
    opacity: 0.6 !important;
}
.gallary .sr img{
    opacity: 1;
    display: block;
    transition: .5s ease;
}
.sr .middle{
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.sr:hover img{
    transform: scale(1.05);
    transition: .6  s;
    filter: grayscale(0) brightness(0.5);
    opacity: 1 !important;

}
.sr:hover .middle{
    opacity: 1;
}
.sr .middle .text{
  background-color: rgb(247, 245, 245);
  color: #0480b1;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 6px 25px; 
  position: absolute;
  bottom: 100%; 
  left: 85%;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px rgb(191, 191, 191);
}
.sr .middle .mb-5{
    margin-bottom: 120px !important;
}
.modal .modal-body .row{
    margin: 1rem !important;
}
.modal .modal-body .row img{
    transition: 0.3s;
    border: 3px solid #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 400px;
    box-shadow: 0 0 10px 2px hsl(191, 97%, 38%);
}
.modal .modal-body .row img:hover{
    transform: scale(1.2,1.1);
}
.modal-body{
    height: 500px;
    overflow: hidden;
}
.modal-body:hover{
    overflow-y: auto;
}

/*--------------------------
 # COntact Section
 --------------------------*/
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: url(contact.jpg),linear-gradient(to right,black,#b7b3b3);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.sarfraj{
    background: transparent ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card .card-body .card .card-body input,
.card .card-body .card .card-body textarea{
    background: transparent;
    margin: 0.5rem;
    color: #fff;
}
.card .card-body .card .card-body .error{
    color: red;
    text-align: left !important;
    margin: 0px;
}
.form-control::placeholder{
    color: rgb(168, 168, 168) !important;
}
#second .sr1{
    color:white;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    margin-top: 50px;
}
#second span{
    color:white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5 px;
    font-weight: 100;
}
#second span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.submit:hover{
    box-shadow: 0 0px 8px hsl(0, 2%, 81%);
    transition: 0.3s;
    border-radius: 2rem;
    background-color: white !important;
    color: #000 !important;
    font-weight: 500;
    letter-spacing: 2px;
}

#send{
    background-color: transparent !important;
    color: white !important;
    padding: 10px;
    width: 50%;
    margin: 40px;
    border: 1px solid white !important;
}
#send:hover{
    font-weight: bold;
    color: black !important;
    background: #fff !important;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0 0 20px #69e1ef;
    border-radius: 20px;
}

/* Social icons */

#contact .bi{
    font-size: 2rem;
    margin: 20px;
    color: white;
    transition: 0.5s;
}
#contact .icon .bi:hover{
    padding: 8px;
    border-radius: 100%;
}
#contact .icon #comman:hover{
    color: #4b9be6;
    background-color: #ffffff;
    box-shadow: 0 0 20px hwb(192 41% 6%);
}
#contact .icon #insta:hover{
    color: #f35b74;
    background-color: white;
    box-shadow: 0 0 20px hwb(345 45% 5%);
}
#contact .icon #git:hover{
    color: white;
    background-color: #646464;
    box-shadow: 0 0 20px rgb(250, 250, 250);
}
#contact #copy{
    font-family: monospace;
    font-size: 15px;
}

/* Go TO Top Button. */
body .bg-danger{
    position: fixed;
    display: none;
    background-color: #009edb !important;
    bottom: 25px;
    right: 25px;
    width: 60px;
    padding: 20px;
    border-radius: 6px;
}
body .bg-danger i{
    font-size: 2rem;
    font-weight: bold;
}
